{
  "extends": ["plugin:react/recommended", "plugin:jest/recommended", "plugin:prettier/recommended"],
  "plugins": ["react", "jest", "prettier"],
  "env": {
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  }
}
